:root {
	--light: #fdf8e5;
}

body {
	background-color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	margin: 0;
}
.w12MForm {
	display: flex;
	flex-wrap: wrap;	
	flex-direction: column;
}
.w12MForm button {
	display:inline-flex;
	margin: auto;
	padding:1%;
	border:1%;
	justify-content: center;
}
.formInputs {
	display:flex;
	flex-wrap: wrap;
	
	width: 100%;
	padding: 1%;
	margin: auto;
	height:auto;
	justify-content: start;
}
.formInputs label {
	display: inline-flex;
	width: 20%;
	justify-content: start;
}
.formInputs div {
	display: flex;
	width: 100%;
	justify-content: start;
}

.errorDiv {
	color: red;	
}
.formInputs input {
	display: flex;
	width: 80%;
	height: auto;
	justify-content: flex-start;
}
